body {
    font-family: Arial, sans-serif;
}

#accueil {
    background: url('../img/background.jpg') no-repeat center center/cover;
    color: #fff;
}

h1, h2 {
    font-weight: bold;
}

.navbar {
    background-color: #3b5998;
}

.nav-link {
    color: #fff !important;
}

footer {
    background-color: #3b5998;
}
